.toplam-products-title{
  padding: 20px 0;
  margin-left: 30px;
}
.recomendation{
  padding: 6px 16px;
  background-color: #fbc100;
  border-radius: 50px;
  display: inline;
  margin: 0 30px ;
  cursor: pointer;
  color: #333;
}
