
.catalog {
  height: 44px;
  width: 130px;
  display: flex;
  align-items: center;
  background-color: #fbc100;
  border-radius: 8px;
  color: #333;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 16px;
}
.catalog-icon,
.catalog-exit-icon {
  width: 18px;
  display: flex;
  align-items: center;
}
.opened-catalog-wrapper {
  width: 100%;
  height: 70vh;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
}
.opened-catalog {
  max-width: 1488px;
  margin: auto;
  padding: 0px 20px;
  background-color: #fff;
  height: 100%;
  display: flex;
}
.catalog-title-box {
  width: 360px;
  height: 100%;
  overflow: auto;
  background-color: white;
  padding: 10px 0px;
  scrollbar-width: thin;

}
.catalog-title-box::-webkit-scrollbar {
  width: 5px;
}
.catalog-title-box::-webkit-scrollbar-track {
  background: #fff;
}
.catalog-title-box::-webkit-scrollbar-thumb {
  background-color: rgb(195, 194, 194);
  border-radius: 10px;
}
.catalog-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.1px;
  padding: 12px 16px;
  border-radius: 6px;
  height: 48px;
}
.title-wrapper {
  display: flex;
  align-items: center;
}
.cat-title {
  margin-left: 16px;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
.cat-icon {
  color: rgb(107, 103, 103);
}

.catalog-elements-container {
  width: 1084px;
  height: 100%;
  background-color: white;
}
.catalog-elements-box {
  padding: 33px 0 28px 40px;
}
.catalog-category-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
  color: #333;
}
.catalog-category-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
  color: #333;
}
.catalog-category-subtile {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  border-bottom: 1px dashed transparent;
  transition: 0.5s;
}
.catalog-category-subtile:hover {
  border-bottom: 0.5px dashed #fbc100;
  cursor: pointer;
  transition: 0.5s;
}
.category-subtitles-info {
  width: auto;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(51, 51, 51, 0.8);
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 0.5px dashed transparent;
  width: max-content;
}
.category-subtitles-info:hover {
  border-bottom: 0.5px dashed #000;
  color: black;
  transition: 0.5s;
}

